build
.vscode
.pyc
.ktx
cmake-build-debug
/cmake-build-debug/
/.ccls-cache/
/.dir-locals.el
__pycache__
.ini
*.convex.*
/wheelhouse
imgui.ini
.mypy_cache
.DS_Store
/.idea
/log
/partnet-mobility-dataset/
/hand_detector/extra_data/
/hand_detector/video/
/assets/misc/ktx/day.ktx
